-- Verificar si la base de datos Albarran existe
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'Albarran')
BEGIN
    -- Crear la base de datos Albarran
    CREATE DATABASE Albarran;
    PRINT 'Base de datos Albarran creada.';
END
ELSE
BEGIN
    PRINT 'La base de datos Albarran ya existe.';
END
GO

-- Cambiar al contexto de la base de datos Albarran
USE Albarran;
GO

-- Eliminar claves foráneas
DECLARE @sql NVARCHAR(MAX) = '';

SELECT @sql += 'IF OBJECT_ID(''[' + OBJECT_SCHEMA_NAME(f.parent_object_id) + '].[' + OBJECT_NAME(f.parent_object_id) + ']'', ''U'') IS NOT NULL
BEGIN
    ALTER TABLE [' + OBJECT_SCHEMA_NAME(f.parent_object_id) + '].[' + OBJECT_NAME(f.parent_object_id) + '] DROP CONSTRAINT [' + f.name + '];
END; '
FROM sys.foreign_keys AS f;

EXEC sp_executesql @sql;
GO

-- Eliminar todas las tablas si existen
IF OBJECT_ID('dbo.detalle_ventas', 'U') IS NOT NULL DROP TABLE [dbo].[detalle_ventas];
IF OBJECT_ID('dbo.ventas', 'U') IS NOT NULL DROP TABLE [dbo].[ventas];
IF OBJECT_ID('dbo.sucursales', 'U') IS NOT NULL DROP TABLE [dbo].[sucursales];
IF OBJECT_ID('dbo.productos', 'U') IS NOT NULL DROP TABLE [dbo].[productos];
IF OBJECT_ID('dbo.empleados', 'U') IS NOT NULL DROP TABLE [dbo].[empleados];
IF OBJECT_ID('dbo.comunas', 'U') IS NOT NULL DROP TABLE [dbo].[comunas];
IF OBJECT_ID('dbo.ciudad', 'U') IS NOT NULL DROP TABLE [dbo].[ciudad];
IF OBJECT_ID('dbo.region', 'U') IS NOT NULL DROP TABLE [dbo].[region];
IF OBJECT_ID('dbo.pais', 'U') IS NOT NULL DROP TABLE [dbo].[pais];
IF OBJECT_ID('dbo.clientes', 'U') IS NOT NULL DROP TABLE [dbo].[clientes];
IF OBJECT_ID('dbo.categorias', 'U') IS NOT NULL DROP TABLE [dbo].[categorias];
IF OBJECT_ID('dbo.cargos', 'U') IS NOT NULL DROP TABLE [dbo].[cargos];

-- Crear tablas
CREATE TABLE [dbo].[cargos](
    [cargo_id] INT NOT NULL PRIMARY KEY,
    [nombre] NVARCHAR(255) NOT NULL
);
GO

CREATE TABLE [dbo].[categorias](
    [categoria_id] INT NOT NULL PRIMARY KEY,
    [categoria] NVARCHAR(255) NOT NULL
);
GO

CREATE TABLE [dbo].[clientes](
    [cliente_id] INT NOT NULL PRIMARY KEY,
    [nombre] NVARCHAR(255) NOT NULL,
    [appaterno] NVARCHAR(255) NOT NULL,
    [apmaterno] NVARCHAR(255) NOT NULL,
    [sexo] CHAR(1) NOT NULL,
    [fecha_nacimiento] DATETIME NULL,
    [estado_civil] NVARCHAR(255) NULL
);
GO

CREATE TABLE [dbo].[pais] (
    [pais_id] INT PRIMARY KEY,
    [nombre] NVARCHAR(100) NOT NULL
);
GO

CREATE TABLE [dbo].[region] (
    [region_id] INT PRIMARY KEY,
    [nombre] NVARCHAR(255),
    [pais_id] INT,
    FOREIGN KEY ([pais_id]) REFERENCES [dbo].[pais]([pais_id])
);
GO

CREATE TABLE [dbo].[ciudad] (
    [ciudad_id] INT PRIMARY KEY,
    [nombre] NVARCHAR(255),
    [region_id] INT,
    FOREIGN KEY ([region_id]) REFERENCES [dbo].[region]([region_id])
);
GO

CREATE TABLE [dbo].[comunas] (
    [comuna_id] INT PRIMARY KEY,
    [nombre] NVARCHAR(255),
    [ciudad_id] INT,
    FOREIGN KEY ([ciudad_id]) REFERENCES [dbo].[ciudad]([ciudad_id])
);
GO

CREATE TABLE [dbo].[detalle_ventas](
    [venta_id] INT NOT NULL,
    [producto_id] INT NOT NULL,
    [cantidad] INT NOT NULL,
    [precio_unitario] DECIMAL(10, 2) NOT NULL,
    [descuento] NUMERIC(5, 2) NOT NULL,
    PRIMARY KEY CLUSTERED ([venta_id] ASC, [producto_id] ASC)
);
GO

CREATE TABLE [dbo].[empleados](
    [empleado_id] INT NOT NULL PRIMARY KEY,
    [nombre] NVARCHAR(255) NOT NULL,
    [appaterno] NVARCHAR(255) NOT NULL,
    [apmaterno] NVARCHAR(255) NOT NULL,
    [fecha_contrato] DATETIME NOT NULL,
    [sueldo_base] INT NOT NULL,
    [cargo_id] INT NOT NULL,
    FOREIGN KEY ([cargo_id]) REFERENCES [dbo].[cargos]([cargo_id])
);
GO

CREATE TABLE [dbo].[productos](
    [producto_id] INT NOT NULL PRIMARY KEY,
    [nombre] NVARCHAR(255) NOT NULL,
    [precio] DECIMAL(10, 2) NOT NULL,
    [descripcion] NVARCHAR(255) NULL,
    [categoria_id] INT NOT NULL,
    FOREIGN KEY ([categoria_id]) REFERENCES [dbo].[categorias]([categoria_id])
);
GO

CREATE TABLE [dbo].[sucursales](
    [sucursal_id] INT NOT NULL PRIMARY KEY,
    [sucursal] NVARCHAR(255) NOT NULL,
    [comuna_id] INT NOT NULL,
    FOREIGN KEY ([comuna_id]) REFERENCES [dbo].[comunas]([comuna_id])
);
GO

CREATE TABLE [dbo].[ventas](
    [venta_id] INT NOT NULL PRIMARY KEY,
    [vendedor_id] INT NOT NULL,
    [cliente_id] INT NOT NULL,
    [sucursal_id] INT NOT NULL,
    [fecha] DATETIME NOT NULL,
    [tipo_documento] NVARCHAR(255) NOT NULL,
    [numero_documento] INT NOT NULL,
    FOREIGN KEY ([vendedor_id]) REFERENCES [dbo].[empleados]([empleado_id]),
    FOREIGN KEY ([cliente_id]) REFERENCES [dbo].[clientes]([cliente_id]),
    FOREIGN KEY ([sucursal_id]) REFERENCES [dbo].[sucursales]([sucursal_id])
);
GO


INSERT INTO [dbo].[cargos] ([cargo_id], [nombre]) VALUES 
(1, N'vendedor'),
(2, N'cajero'),
(3, N'encargado despacho'),
(4, N'bodeguero'),
(5, N'mueblista')
GO

INSERT INTO [dbo].[categorias] ([categoria_id], [categoria]) VALUES 
(1, N'Arrimos'),
(2, N'Banquetas'),
(3, N'Bares'),
(4, N'Buffets'),
(5, N'Comedores'),
(6, N'Dormitorio'),
(7, N'Esquineros'),
(8, N'Mesas de Centro'),
(9, N'Modulares'),
(10, N'Paneles TV'),
(11, N'Puertas'),
(12, N'Sitiales'),
(13, N'Sofás')
GO


-- Insertar paises de sud-america
INSERT INTO [dbo].[pais] ([pais_id], [nombre]) VALUES 
(1, N'Argentina'),
(2, N'Bolivia'),
(3, N'Brasil'),
(4, N'Chile'),
(5, N'Colombia'),
(6, N'Ecuador'),
(7, N'Guyana'),
(8, N'Paraguay'),
(9, N'Perú'),
(10, N'Surinam'),
(11, N'Uruguay'),
(12, N'Venezuela')
GO

-- Insertar regiones de Chile
GO

-- Insertar ciudades de la Región Metropolitana
INSERT INTO [dbo].[ciudad] 
    ([ciudad_id], [nombre], [region_id]) 
VALUES 
    (1, N'Chacabuco', 7),
    (2, N'Cordillera', 7),
    (3, N'Maipo', 7),
    (4, N'Melipilla', 7),
    (5, N'Santiago', 7),
    (6, N'Talagante', 7);
GO

-- Insertar comunas de la Región Metropolitana
GO




INSERT [dbo].[sucursales] 
    ([sucursal_id], [sucursal], [comuna_id]) 
VALUES 
    (1, N'Manquehue', 32),
    (2, N'Franklin', 31),
    (3, N'Providencia', 22),
    (4, N'Las Condes', 13),
    (5, N'Santiago Centro', 31);
GO

GO